<app-page-header>Payments
  <div class="btn-list">
    <button class="btn btn-primary" (click)="open(null)"><app-svg name="plus" /> New</button>
  </div>
</app-page-header>

<div class="page-body">
  <div class="container-xl">
    <app-card>
      <table class="table card-table">
        <thead>
          <tr>
            <th>
              <app-sorter [query]="qry()" field="date">Date</app-sorter>
            </th>
            <th>Amount</th>
            <th>Credits</th>
            <th>Person</th>
            <th class="w-1"></th>
          </tr>
        </thead>
        <tbody>
          @for (item of payments.value()?.results; track $index) {
          <tr>
            <td>{{ item.date | date : "dd MMM yyyy" }}</td>
            <td>{{ item.amount | currency }}</td>
            <td>{{ item.credits }}</td>
            <td>{{ item.person.name }}</td>
            <td><a routerLink="." (click)="open(item)">Edit</a></td>
          </tr>
          }
        </tbody>
      </table>
      <app-card-footer>
        Showing <strong>{{ payments.value()?.results?.length }}</strong> of
        <strong>{{ payments.value()?.total }}</strong> payments

        <app-pager [total]="payments.value()?.total ?? 0" [query]="qry()" />
      </app-card-footer>
    </app-card>
  </div>
</div>
