  <div class="row mb-2">
    <div class="col-3 col-form-label">Address</div>
    <div class="col form-control-plaintext markdown">
      <address class="formatted">{{ person()?.address }}</address>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-3 col-form-label">Gender</div>
    <div class="col form-control-plaintext">{{ person()?.gender }}</div>
    <div class="col-3 col-form-label">Date of Birth</div>
    <div class="col form-control-plaintext">
      {{ person()?.dateOfBirth | date : "dd MMM yyyy" }}
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-3 col-form-label">Occupation</div>
    <div class="col form-control-plaintext">{{ person()?.occupation }}</div>
  </div>
  <div class="row mb-2">
    <div class="col-3 col-form-label">Emergency Contact</div>
    <div class="col form-control-plaintext">
      {{ person()?.emergencyContact }}
    </div>
    <div class="col-3 col-form-label">Emergency Contact Number</div>
    <div class="col form-control-plaintext">
      {{ person()?.emergencyContactNumber }}
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-3 col-form-label">Consent Signed</div>
    <div class="col form-control-plaintext">
      {{ person()?.consentDate | date : "dd MMM yyyy" }}
    </div>
  </div>
<hr/>