<ul class="pagination m-0 ms-auto">
  <li class="page-item" [ngClass]="showPrevious() ? '' : 'disabled'">
    <a
      class="page-link"
      routerLink="."
      [queryParams]="{
        offset: offset() - limit(),
        dir: query().dir,
        sortBy: query().sortBy
      }"
    >
      <app-svg name="chevron-left" />
    </a>
  </li>
  @for (item of pages(); track $index) {
  <li class="page-item" [ngClass]="current() === $index ? 'active' : ''">
    <a
      class="page-link"
      routerLink="."
      [queryParams]="{
        offset: limit() * $index,
        dir: query().dir,
        sortBy: query().sortBy
      }"
      >{{ $index + 1 }}</a
    >
  </li>
  }
  <li class="page-item" [ngClass]="showNext() ? '' : 'disabled'">
    <a
      class="page-link"
      routerLink="."
      [queryParams]="{
        offset: offset() + limit(),
        dir: query().dir,
        sortBy: query().sortBy
      }"
    >
      <app-svg name="chevron-right" />
    </a>
  </li>
</ul>
