<ul class="pagination m-0 ms-auto">
  <li class="page-item" [ngClass]="showPrevious() ? '' : 'disabled'">
    <a
      class="page-link"
      routerLink="."
      [queryParams]="{  offset: offset() - limit(),
        dir: query().dir,
        sortBy: query().sortBy }"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-left"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M15 6l-6 6l6 6" /></svg
    ></a>
  </li>
  @for (item of pages(); track $index) {
  <li class="page-item" [ngClass]="current() === $index ? 'active' : ''">
    <a
      class="page-link"
      routerLink="."
      [queryParams]="{
        offset: limit() * $index,
        dir: query().dir,
        sortBy: query().sortBy
      }"
      >{{ $index + 1 }}</a
    >
  </li>
  }
  <li class="page-item" [ngClass]="showNext() ? '' : 'disabled'">
    <a
      class="page-link"
      routerLink="."
      [queryParams]="{ offset: offset() + limit(),
        dir: query().dir,
        sortBy: query().sortBy }"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M9 6l6 6l-6 6" />
      </svg>
    </a>
  </li>
</ul>
