<app-page-header>Venue Management</app-page-header>
<div class="page-body">
  <div class="container-xl">
    <app-card>
      <table class="table card-table">
        <thead>
          <tr>
            <th><app-sorter [query]="qry()" field="name">Name</app-sorter></th>
            <th>Email</th>
            <th>Phone</th>
            <th class="w-1"></th>
          </tr>
        </thead>
        <tbody>
          @for (item of venues.value()?.results; track $index) {
          <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.phone }}</td>
            <td><a [routerLink]="['venue', item.id]">Edit</a></td>
          </tr>
          }
        </tbody>
      </table>
      <app-card-footer>
        Showing <strong>{{ venues.value()?.results?.length }}</strong> of
        <strong>{{ venues.value()?.total }}</strong> classes
        <app-pager [total]="venues.value()?.total ?? 0" [query]="qry()" />
      </app-card-footer>
    </app-card>
  </div>
</div>
