<app-page-header
  >Venue Management
  <div class="btn-list">
    <button type="button" class="btn btn-primary" (click)="open()">
      <svg plus-icon></svg> New
    </button>
  </div>
</app-page-header>

<div class="page-body">
  <div class="container-xl">
    <app-card>
      <table class="table card-table">
        <thead>
          <tr>
            <th><app-sorter [query]="qry()" field="name">Name</app-sorter></th>
            <th>Email</th>
            <th>Phone</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for (item of venues.value()?.results; track $index) {
          <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.phone }}</td>
            <td class="text-end">
              <a routerLink="." (click)="delete(deleteDialog, item.id)"><svg trash></svg></a> |
              <a routerLink="." (click)="open(item.id)">Edit</a>
            </td>
          </tr>
          }
        </tbody>
      </table>
      <app-card-footer>
        Showing <strong>{{ venues.value()?.results?.length }}</strong> of
        <strong>{{ venues.value()?.total }}</strong> classes
        <app-pager [total]="venues.value()?.total ?? 0" [query]="qry()" />
      </app-card-footer>
    </app-card>
  </div>
</div>

<ng-template #deleteDialog let-dialog>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Remove venue?</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="dialog.dismiss()"></button>
  </div>
  <div class="modal-body"></div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="dialog.dismiss()">No</button>
    <button type="button" class="btn btn-outline-secondary" (click)="dialog.close()">Yes</button>
  </div>
</ng-template>