<div class="modal-header">
  <h5 class="modal-title">New Payment</h5>
  <button
    type="button"
    class="btn-close"
    (click)="modal.close()"
    aria-label="Close"
  ></button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="row">
      <div class="col-6">
        <label for="date" class="form-label">Date</label>
        <input id="date" type="date" class="form-control" formControlName="date" />
      </div>
      <div class="col-6">
        <label for="amount" class="form-label">Amount</label>
        <input id="amount" type="number" class="form-control" formControlName="amount" />
      </div>
    </div>
    <div class="row">
      <div class="col">{{ form.value.date }}</div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-link link-secondary" (click)="modal.close()">
    Cancel
  </button>
  <button class="btn btn-primary ms-auto" (click)="add()">
    <svg plus-icon></svg>
    Add new payment
  </button>
</div>
