<div class="navbar navbar-vertical navbar-expand-sm">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h1 class="navbar-brand navbar-brand-autodark">
      <a href="#">
        <!-- <img
        src="/static/logo-white.svg"
        width="110"
        height="32"
        alt="Tabler"
        class="navbar-brand-image"
      /> -->
        ClassE
      </a>
    </h1>
    <div class="collapse navbar-collapse" id="sidebar-menu">
      <ul class="navbar-nav pt-lg-3">
        <app-nav-item link="/" [exact]="true">
          <app-svg name="home" /> Home
        </app-nav-item>
        <app-nav-item link="/people">
          <app-svg name="users" /> People
        </app-nav-item>
        <app-nav-item link="/classes">
          <app-svg name="calendar-week" /> Classes
        </app-nav-item>
        <app-nav-item link="/venues">
          <app-svg name="buildings" /> Venues
        </app-nav-item>
        <app-nav-item link="/payments">
          <app-svg name="coin-pound" /> Payments
        </app-nav-item>
      </ul>
    </div>
  </div>
</div>
