<div class="page page-center">
  <div class="container container-tight py-4">
    <app-card>
      <div class="card-body">
        <h2 class="h2 text-center mb-4">Login to your account</h2>
        <form autocomplete="off" [formGroup]="form">
          <div class="mb-4">
            <label for="username" class="form-label">Email</label>
            <input
              type="text"
              id="username"
              placeholder="Your email"
              autocomplete="off"
              class="form-control"
              formControlName="username"
            />
          </div>

          <div class="mb-4">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              id="password"
              placeholder="Your password"
              autocomplete="off"
              class="form-control"
              formControlName="password"
            />
          </div>

          <div class="form-footer">
            <button
              type="button"
              class="btn btn-primary w-100"
              [disabled]="submitting()"
              (click)="login()"
            >
              Sign In
            </button>
          </div>
        </form>
      </div>
    </app-card>
  </div>
</div>
