<div class="row mb-2">
  <div class="col-3 col-form-label">First Name</div>
  <div class="col form-control-plaintext">{{ person()?.firstName }}</div>
  <div class="col-3 col-form-label">Last Name</div>
  <div class="col form-control-plaintext">{{ person()?.lastName }}</div>
</div>
<div class="row mb-2">
  <div class="col-3 col-form-label">Email</div>
  <div class="col form-control-plaintext">{{ person()?.email }}</div>
  <div class="col-3 col-form-label">Phone</div>
  <div class="col form-control-plaintext">{{ person()?.phone }}</div>
</div>
<div class="row mb-2">
  <div class="col">
    <a class="btn" (click)="hideDetails.set(!hideDetails())"
      >{{ hideDetails() ? 'More' : 'Less' }} Details...</a
    >
    <a class="btn ms-3" (click)="hideJoining.set(!hideJoining())">
      {{ hideJoining() ? 'Show' : 'Hide'}} Joining Questions...
    </a>
  </div>
</div>
<div [ngbCollapse]="hideDetails()">
  <app-more-details [person]="person()" />
</div>
<div class="row mb-2"></div>
<div [ngbCollapse]="hideJoining()">
  <app-joining-questions [person]="person()" />
</div>
<div class="row mb-2">
  <div class="col-3 col-form-label">Notes</div>
  <div class="col form-control-plaintext formatted">{{ person()?.notes }}</div>
</div>
