<app-page-header>Class Management</app-page-header>

<div class="page-body">
  <div class="container-xl">
    <div class="row row-cards">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="row mb-3">
                <label class="col-3 col-form-label">Start Date</label>
                <div class="col form-control-plaintext">2025-01-01</div>
            </div>
            <div class="row mb-3">
              <label class="col-3 col-form-label">End Date</label>
              <div class="col form-control-plaintext">2025-01-01</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Booked</h3>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Waiting List</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
