<app-page-header
  >People Management
  <div class="btn-list">
    <button class="btn btn-primary">
      <svg plus-icon></svg> New
    </button>
  </div>
</app-page-header>
<div class="page-body">
  <div class="container-xl">
    <app-card>
      <table class="table card-table">
        <thead>
          <tr>
            <th>
              <app-sorter [query]="qry()" field="firstName"
                >First Name</app-sorter
              >
            </th>
            <th>
              <app-sorter [query]="qry()" field="lastName"
                >Last Name</app-sorter
              >
            </th>
            <th>Email</th>
            <th>Phone</th>
            <th class="w-1"></th>
          </tr>
        </thead>
        <tbody>
          @for (item of people.value()?.results; track $index) {
          <tr>
            <td>{{ item.firstName }}</td>
            <td>{{ item.lastName }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.phone }}</td>
            <td><a [routerLink]="[item.id]">Edit</a></td>
          </tr>
          }
        </tbody>
      </table>
      <app-card-footer>
        Showing <strong>{{ people.value()?.results?.length }}</strong> of
        <strong>{{ people.value()?.total }}</strong> classes

        <app-pager [total]="people.value()?.total ?? 0" [query]="qry()" />
      </app-card-footer>
    </app-card>
  </div>
</div>
