<div class="modal-header">
  <h5 class="modal-title">{{id() === 0 ? 'New' : 'Edit'}} Venue</h5>
  <button
    type="button"
    class="btn-close"
    (click)="modal.close()"
    aria-label="Close"
  ></button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="row">
      <div class="col">
        <label for="name" class="form-label required">Name</label>
        <input id="name" type="text" class="form-control" formControlName="name" placeholder="Venue Name" />
        <app-validator-message controlName="name" validatorName="required">A name is required</app-validator-message>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-6">
        <label for="email" class="form-label">Email</label>
        <input id="email" type="email" class="form-control" formControlName="email" placeholder="email@domain.int" />
      </div>
      <div class="col-6">
        <label for="phone" class="form-label">Phone</label>
        <input id="phone" type="tel" class="form-control" formControlName="phone" placeholder="(01234) 567890" />
      </div>
    </div>
    <div class="row mt-2">
      <div class="col">
        <label for="address" class="form-label">Address</label>
        <textarea id="address" class="form-control" formControlName="address" rows="4"></textarea>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-link link-secondary" (click)="modal.close()">
    Cancel
  </button>
  <button type="button" class="btn btn-primary ms-auto" (click)="save()">
    <!-- Download SVG icon from http://tabler.io/icons/icon/plus -->
    @if (id() === 0) {
    <svg plus-icon></svg> Add new } @else { Update }Venue
  </button>
</div>
